
@model Products
@{
    ViewData["Title"] = Model.Name;
}
  <section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5 ">
                <div class="w-100 " href="1.jpg">
                    <img style="height: 620px" class="w-100 h-img " src="/img/@Model.MainImg" id="show-img">
                </div>
                <div id="crsl" class="w-100 row  slider slider_four_in_line text-center">
                    @if (Model.ProductImages != null)
                    {
                        @if (Model.ProductImages.Count > 1)
                        {
                            @foreach (var item in Model.ProductImages)
                            {
                                <div id="carouselDiv" class="border">
                                    <img style="cursor: pointer" src="/img/@item.ImgName" class="thumb">
                                </div>

                            }
                            <div class="next_button"></div>
                            <div class="prev_button"></div>
                        }
                        
                    }
                    
                </div>
            </div>


            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">@Model.Name</h1>
                        <p class="h3 py-2">@Model.Price.ToString("###,###") تومان</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>



                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>رنگهای موجود:</h6>
                            </li>
                            <li class="list-inline-item">
                               @* <p class="text-muted"><strong>سورمه‌ای / مشکی</strong></p>*@
                            </li>
                        </ul>
                        <form asp-action="AddToCart">
                        <div class="row">
                            
                            <div class="col-auto">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item">
                                        سایز:
                                           
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                </ul>
                            </div>
                            
                            <div class="col-auto">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-right">
                                        تعداد:
                                           
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success  change" id="btn-minus1">-</span></li>
                                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                    <li class="list-inline-item "><span class="btn btn-success change" id="btn-plus1">+</span></li>
                                </ul>
                            </div>
                            <button type="submit"  class="btn-success btn-sm   ">افرودن به سبد خرید</button>
                            <input type="hidden" id="quantity" name="quantity"/>
                            <input type="hidden" id="ip" name="productId" value="@Model.Id" />

                           
                                

                        </div>
                        </form>
                    </div>         
                       

                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>محصولات مرتبط</h4>
        </div>

        <!--Start Carousel Wrapper-->
        <div class="row jm">
            @foreach (var product in ((List<Products>)ViewData["random"]!))
            {
 <div class="col-md-3">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="/img/@product.MainImg">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="/home/ShopSingle?productId=@product.Id"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/home/ShopSingle?productId=@product.Id" class="h3 text-decoration-none">@product.Name</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                           @* <li>M/L/X/XL</li>*@
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">@product.Price تومان</p>
                    </div>
                </div>
            </div>
            }
           



        </div>

    </div>
</section>
  


<script>
        //single shop quantity



        var val = document.getElementById("var-value");
        var valInt = parseInt(val.innerText);
        var inp = document.getElementById("quantity");
        inp.value = valInt;
    document.getElementById("btn-minus1").onclick = function() {
        if (valInt===1) {
            return;
        }
        valInt--;
        val.innerText = valInt;
        inp.value = valInt;
        console.log(valInt,inp.value = valInt);

    }




        document.getElementById("btn-plus1").onclick = function() {
            valInt++;
            val.innerText = valInt;
            inp.value = valInt;
            console.log(valInt,inp.value);
        }

</script>
